*{
    margin: 0;
    /* border: 1px solid red; */
}

@font-face{
    font-family:'road';
    src: url(./Fonts/baloo-chettan.ttf);
}

body{
    /* margin-left: 100px; */
}

.head{
    margin-top: 40px;
    background-color: #0C0F38;
    width: 100%;
    margin-bottom: 30px;
}

.H{
    display: flex;
    margin-bottom: 100px;
    /* margin-right: 40px; */
}

.head-A{
    margin-left: 100px;
}

.head-A h1{
    font-size: 67px;
    font-family: road ;
    /* font-family: cursive; */
    line-height: 90px;
    padding-bottom: 30px;
    padding-top: 40px;
    font-weight: bold;
    color: white;
    margin-top: 30px;
}

.head-A h2{
    font-size: 35px;
    font-family: road ;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
}

.head-A span h2{
    color: #DA16E6;
    margin: 15px 0;
}

.head img{
    margin-left: 100px;
}

.head-A button{
    font-size: 17px;
    background-color: #fff;
    color: #da16e6;
    padding: 13px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
}

.head-A button:hover{
    color: white;
    background-color: #DA16E6;
}


.box{
    /* margin-top: 60px; */
    /* border: solid; */
    width: 100%;
    /* margin-bottom: 50px; */
    background-color: #BB13C6;
}

.box-A{
    margin: auto;
    display: flex;
    gap: 30px;
    width: 50%;
}

.box img{
    width: 100%;
}

.box-A h4{
    color: white;
    cursor: pointer;
    /* margin: auto; */
    margin-top: 60px;
    font-size: 17px;
    font-family: sans-serif;
    transition: 0.9s;
}

.box-A h4:hover{
    color: black;
}


.first-section h2{
    font-size: 50px;
    font-family: road;
    color: rgb(12, 15, 56);
    /* line-height: 61px; */
    font-weight: bold;
    padding: 0px;
    margin: auto;
    width: 40%;
}

.first-section span{
    color: #da16e6;
}

.first-section p{
    font-size: 16px;
    font-family: sans-serif;
    margin: auto;
    width: 80%;
    margin: 50px;
}
