*{
    margin: 0;
    border: 1px solid red;
}

@font-face{
    font-family:'road';
    src: url(./Fonts/baloo-chettan.ttf);
}

body{
    /* margin-left: 100px; */
}

.head{
    margin-top: 60px;
    background-color: #0C0F38;
    width: 100%;
    display: flex;
}

.H{
    display: flex;
}

.head-A{
    /* margin-left: 100px; */
}

.head-A h1{
    font-size: 67px;
    font-family: road ;
    /* font-family: cursive; */
    line-height: 90px;
    padding-bottom: 30px;
    padding-top: 40px;
    font-weight: bold;
    color: white;
}

.head-A h2{
    font-size: 35px;
    font-family: road ;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
}

.head-A span h2{
    color: #DA16E6;
    margin: 15px 0;
}

.head img{
    margin-left: 100px;
}

.head-A button{
    font-size: 17px;
    background-color: #fff;
    color: #da16e6;
    padding: 13px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
}

.head-A button:hover{
    color: white;
    background-color: #DA16E6;
}


.box{
    margin-top: 60px;
    border: solid;
    width: 50%;
    /* margin-bottom: 50px; */
    background-color: #BB13C6;
}

.box-A{
    display: flex;
    gap: 20px;
}

.box img{
    width: 70%;
}

.box-A h4{
    color: white;
    cursor: pointer;
}